<template>
  <div class="app">
     <!-- Card -->
      <div class="card mx-xl-5">
        <!-- Card body -->
        <div class="card-body">
            <form @submit.prevent="add">
                <p class="h4 text-center py-4">Add to List</p>
                <div class="form-group">
                  <input type="hidden" v-model="form.id">
                </div>
                <label for="nama_tugas" class="grey-text font-weight-light">Nama Tugas</label>
                <input type="text" v-model="form.nama_tugas" class="form-control" id="nama_tugas">
                <br>
                <label for="matkul" class="grey-text font-weight-light">Mata Kuliah</label>
                <input type="text" v-model="form.matkul" class="form-control" id="matkul">
                <br>
                <label for="deadline" class="grey-text font-weight-light">Deadline</label>
                <input type="date" v-model="form.deadline" class="form-control" id="deadline">
                <br>
                <label for="deskripsi" class="grey-text font-weight-light">Deskripsi</label>
                <textarea id="deskripsi" cols="30" rows="5" class="form-control" v-model="form.deskripsi"></textarea>
                <div class="text-center py-4 mt-3">
                    <button class="btn btn-outline-purple" v-show="!updateSubmit" type="submit">Add<i class="far fa-paper-plane ml-2"></i></button>
                    <button type="button" v-show="updateSubmit" @click="update(form)" class="btn btn-outline-purple">Update</button>
                </div>
            </form>
        </div>
        <!-- Card body -->
      </div>
      <br>
      <!-- Card -->
    <div class="card mx-xl-5">
      <div class="card-body">
        <p class="h4 text-center py-4">To Do List</p>
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nama Tugas</th>
                <th scope="col">Matkul</th>
                <th scope="col">Deadline</th>
                <th scope="col">Aksi</th>
              </tr>
            </thead>
            <tbody v-for="tugaz in tugas" :key="tugaz.id">
              <tr>
                <th scope="row"> {{ tugaz.nama_tugas }}</th>
                <th scope="row"> {{ tugaz.matkul }}</th>
                <th scope="row"> {{ tugaz.deadline }}</th>
                <th scope="row"><button @click="edit(tugaz)" class="btn btn-info">Edit</button> &nbsp; <button @click="del(tugaz)" class="btn btn-danger">Delete</button> &nbsp; <button @click="detail(tugaz)" class="btn btn-success">Details</button></th>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */ 
import axios from 'axios'
export default {
  data(){
    return{
        form: {
          id: '',
          nama_tugas: '',
          matkul: '',
          deadline: '',
          deskripsi: ''
        },
        tugas: '',
        updateSubmit: false
    }
  },
  mounted() {
    this.load()
  },
  methods: {
    load(){
        axios.get('http://localhost:3000/tugas').then(res => {
        this.tugas = res.data
      }).catch ((err) => {
        console.log(err);
        
      })
    },
      add(){
      axios.post('http://localhost:3000/tugas/', this.form).then(res => {
          this.load()
          this.form.nama_tugas = ''
          this.form.matkul = ''
          this.form.deadline = ''
          this.form.deskripsi = ''
      })
    },
    edit(tugaz){ 
        this.updateSubmit = true
        this.form.id = tugaz.id 
        this.form.nama_tugas = tugaz.nama_tugas 
        this.form.matkul = tugaz.matkul
        this.form.deadline = tugaz.deadline
        this.form.deskripsi = tugaz.deskripsi
    },
    update(form){ 
      return axios.put('http://localhost:3000/tugas/' + form.id , {nama_tugas: this.form.nama_tugas, matkul: this.form.matkul, deadline: this.form.deadline, deskripsi: this.form.deskripsi}).then(res => {
        this.load()
        this.form.id = ''
        this.form.nama_tugas = ''
        this.form.matkul = ''
        this.form.deadline = ''
        this.form.deskripsi = ''
        this.updateSubmit = false
      }).catch((err) => {
        console.log(err);
        
      })
    },
    del(tugaz){
      axios.delete('http://localhost:3000/tugas/' + tugaz.id).then(res =>{
          this.load()
          let index = this.tugas.indexOf(form.nama_tugas)
          this.tugas.splice(index,1)
      })
    }
  }
}
</script>
<style>
.app
{
  padding: 2%;
}
.col-md-9
{
  margin-top: 3%;
}
.col-md-3
{
  margin-top: 2.6%;
}
.container
{
  text-align: center;
}
.container-fluid
{
  text-align: center;
  position: absolute;
  top: 118%;
} 
.kaki
{
  height: 150px;
  padding: 5% 0;
}
</style>